<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="20.2.16" targetFramework="net48" />
  <package id="Infragistics.WPF.Editors" version="20.2.16" targetFramework="net48" />
  <package id="Infragistics.WPF.Ribbon" version="20.2.16" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Prism.Core" version="8.0.0.1909" targetFramework="net48" />
  <package id="Prism.Forms" version="8.0.0.1909" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.0.0.1909" targetFramework="net48" />
  <package id="Xamarin.Forms" version="4.8.0.1364" targetFramework="net48" />
</packages>